.flex-container {
    display: flex;
    margin-bottom: 24px;
}
.search-panel{
    flex: 1;
    display: flex;
    nz-input-group {
        margin-right: 24px;
    }
    nz-select-search, nz-select {
        width: 128px;
    }
}